<div class="product <%= data_rental %>_card">
    <div class="col s10 m6 l3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="<%= product_image %>">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    <%= product_naam %>
                    <i class="material-icons right">info</i></span>
                <p>
                    <b>&euro;<span class="product_price"><%= product_prijs %></span></b> per dag
                </p>
                <p class="deal">
                    <%= product_aanbieding %>&nbsp;
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4 clearfix">
                    <%= product_naam %><i class="material-icons right">close</i>
                </span>
                <div class="clearfix">&nbsp;</div>
                <ul class="collection with-header">
                    <li class="collection-header"><h5>Eigenschappen</h5></li>
                    <% for(var i=0; i<eigenschappen.length; i++) { %>
                    <li class="collection-item">
                        <i class="material-icons left">done</i>
                        <%= eigenschappen[i] %>
                    </li>
                    <% } %>
                    <li class="collection-item"><p><b>&euro;<%= product_prijs %></b> per dag</p></li>
                </ul>
            </div>
            <div class="meenemen center">
                <div data-rental="<%= data_rental %>" class="selector grey-text yes">
                    <i class="material-icons prefix shoppingcart blue-text teal-text lighten-2">shopping_cart</i><p>Toevoegen aan winkelwagen</p>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>