<main>
    <%- include('../../parallax/parallax.ejs', {img: 'img/bg2.jpg'}) %>

    <%- include('../../home/welcome.ejs') %>

    <%- include('../../parallax/parallax.ejs', {img: 'img/bg.jpg'}) %>

    <%- include('../../home/shop.ejs') %>

    <%- include('../../home/shoppingcart.ejs') %>

    <%- include('../../home/bedankt.ejs') %>

    <%- include('../../parallax/parallax.ejs', {img: 'img/bg1.jpg'}) %>

    <%- include('../../home/contact.ejs') %>

    <%- include('../../parallax/parallax.ejs', {img: 'img/bg2.jpg'}) %>
</main>